# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# =========================
# Eclipse workspace files
# =========================

*.bak
*.pydevproject
*.swp
*.tmp
*~.nib
.gradle
.loadpath
.metadata
.settings/
bin/
local.properties
tmp/

# Eclipse Core
.project

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

# =========================
# Build artifacts
# =========================

build/
run/

# =========================
# Log files
# =========================

*.log

# =========================
# Java files
# =========================

*.class

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*
*.hprof

# =========================
# Backup files
# =========================

*.blend?
